:root {
  --primary-color:  #274455;
  --white: #f8f9fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hide scrollbar
   ========================================================================== */

/**
 * 1. make scrollbar transparent.
 *
 */

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* 1 */
}

html, body {
  font-family: "Microsoft JhengHei", sans-serif;
}

img {
  vertical-align: middle;
}

button, .clickable {
  display: block;
  all: unset;
  cursor: pointer;
  border: none;
}

button:focus, label:focus {
  outline:0;
  border: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a{
  all: unset;
}
input{
  outline: 0;
  border: 0;
  background: 0;
}
/* global utility */
.cf::before,
.cf::after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf::after {
  clear: both;
}
.cursor-pointer {
  cursor: pointer;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.tab-arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.text-white {
  color: var(--white);
}

.half-size {
  transform: scale(.5);
}

.hidden {
  display: none;
}
.active{
  display: block;
}
.justify-center {
  justify-content: center;
}

.dp-flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.inp-hardcode[name='prod-grp']:checked + .hidden{
  display: inherit;
}

/* comment */
.leave-comment{
    width: 650px;
    height: 194px;
    margin:  0 auto;
    background:#274455 ;
    padding: 10px 30px;
    position: relative;
    margin: 1rem auto;
}
.comment-title{
    color: white;
}
.star {
  color: white;
  margin: 0px 0 15px 9px;
}
.recommend{
  margin-top: 2px;
}
.leave-comment input{
    width: 585px;
    height: 69px;
}
.submit{
    border: none;
    background: #D09028;
    padding: 3px 12px;
    position: absolute;
    right: 5%;
    bottom: 7%;
    color: white;
}



/*  */
.prod-desc {
  margin: 1rem auto;
  width: 80%;
  display: flex !important;  /* Klein:  need remove */
  justify-content: center;
}
/* .prod-qty{
  display: inline-block;
  justify-content: center;
  margin: 1rem auto;
} */
.thead {
  border: 1px solid grey;
}
tr {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
  padding:0 20px;
  height: 33px;

}

.td2 {
  width: 300px;
}

/*  */
.qty-wrap{
  margin: 1rem auto;
  width: 68%;
}
.descrip-wrap{
    margin: 1rem auto;
    max-width: 90%;
    background: lightgrey;
}
.description{
    background: white;
    border: 1px solid grey;
    margin:  0 auto;
    padding: 20px;
    position: relative;
}

.product-descrip-2{
    justify-content: space-between;
    min-width: 100%;
    max-width: 692px;
    margin-top: 20px;
}
.comment-button button{
    padding: 5px 60px;
    border-radius: 0%;
    background: #274455;
    border: none;
    color: white;
}
.append-comment{
    justify-content: flex-end;
    display: flex;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.append-comment button{
    border: none;
    background: none;
}
.append-comment img{
    width: 10px;
    height: 10px;

margin-top: 30px;

}
.description-2{
    background: white;


    padding: 20px;

    border: 1px solid white;
    margin: 20px 0 ;

}
.guest-name{
    margin-bottom: 10px;
}
.space-between{
    justify-content: space-between;
}
.fa-check{
    margin: 0 10px;
}
.page{
    display: flex;
    justify-content: center;
}
.page a{
    margin: 0 5px;
}
/* =========== */
.product-opts-pannel {
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
}
.phone-wrapper{
  display: none;
}

/* Klein: 'conver-fit' can be removed */
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic-pannel {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  padding: 1rem;
}
.bread-crumbs a{
  text-decoration: none;
  color: #000000;
}
/* picture section */

.picture-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: -1;
}

.picture-demo {
  margin: 0 .25rem;
  width: 495px;
}

.picture-body {
  display: inline-block;
  /* padding: 10px 0 0 0; */
  width: 74px;
  height: 74px;
  margin: 5.2px 0;
}
.main-pic {
  width: 495px;
  height: 495px;
}

/* picture group */
.picture-slide-panel {
  position: relative;
  /* overflow: hidden; */
  width: 7%;
  min-width: 74px;
  margin: -5px 0 0 10px;
  height: 495px;
  /* border: 1px solid lightblue; */
}

.group-pic {
  width: 74px;
  height: 74px;
}
.icon-arrow-down {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);

}




/* info section */
.line {
  height: 1px;
  width: 800px;
  background-color: #111111;
  margin: 0 auto 50px auto;
}

/* .product-info-panel {
  border-bottom: 1px solid;
} */

.product-info-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 300px;
  margin: 2.5rem auto 1rem auto;
}

.discription {
  /* margin-right: 30px; */
}
.discription :hover {
  cursor: pointer;
}
.rate :hover{
  cursor: pointer;
}
.stock {
  /* margin-right: 30px; */
}

/* --------discription------ */


.desc-section {
  text-align: center;
  margin-top: 2rem;
  /* width: 530px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}
/* Klein:  remove those 2 classes
    .desc-box {
        width: 530px;
        height: auto;
        margin: 20px auto 20px auto;
        text-align: default;
    }
*/
.disImg {
  width: 408px;
  height: 605px;
  margin: 0 auto;
  text-align: center;
}

.desc-box2 {
/* Klein: hold on;
width: 330px;
height: auto;
margin: 20px auto 20px auto;
*/
}

.sizeImg {
  width: 530px;
  height: 130px;
  margin: 100px 0 30px 0;
}


/* slide section */


.slideSection {
  /* margin: 100px 0 20px 0; */
  text-align: center;
  margin: 3rem 0 8rem 0;
}
.mob-line{
  height: 1px;
  background-color: transparent;
  width: 678px;
}

.test-abc {
  background-color: #274455;
  color: #B4ABA4;
  text-decoration: none;
  padding: .25rem 3rem;
}
.new-button {
  /* margin: 0 auto; */
  /* background-color: #274455; */
  color: #B4ABA4;
  /* font-size: 14px; */
  text-decoration: none;
  /* padding: .25rem 3rem; */
}
.name{
  /* padding: 10px 0 10px 0; */
  margin: 0.325rem 0;
}

.slide-panel {
  margin: 2rem 0;
}
.slide-like {
  display: flex;
  padding: 0 50px;
  align-items: center;
  margin: 1rem 0 3rem;
}

.like-section{
  display: flex;
  justify-content: flex-start;
  padding: 0 2%;
  width: 85%;
}

.like {
  position: relative;
  width: 10%;
}

.likeLink {
  text-decoration: none;

}

.slideProduct {
  text-align: center;
  margin: 0 1.5%;
}

.slideImg {
  position: relative;
  width: 104px;
  /* height: 104px; */
}

.product-price {
  position: absolute;
  width: 100%;
}

.arrow {
  width: 16px;
  position: absolute;
  left: 56%
}




/* color section */
.right.product-option {
  padding: 0 9% 0 2rem;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  width: 40%;
  height: calc(100vh - 100px);
  overflow: scroll;
  /* border-left: solid 1px #111111; */
  position: fixed;
  top: 80px;
  right: 0;
}

.product-name{ /* Klein: remove this class */
  margin: 0px 0 5px 0;
}
.color-title{
  margin: 5px 0;
}
.color-detail{
  margin: 5px 0;
}
.price-section{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.heart{
  width: 20px;
  height: 17px;
  margin: auto 0;

}

/* .rateStar{ font-size: 8px; } */

.PicColor-Wrap{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.color-check{
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 4px;
}
.color-check:focus{
 border: 1.9px solid rgb(51, 80, 211);
}
.PicColor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* margin: 0 10px 10px 0; */

}


.white {
  background-color: white;
  border: 0.2px solid black;

}

.black {
  background: black;

}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.lightBlue {
  background: lightblue;
}

.orange {
  background: orange;

}

.pink {
  background: pink;
}

.purple {
  background: purple;
}

.flex {
  display: flex;
}
.margin20{
  margin: 1rem 0;
}
.stuck{
  padding: 2px 20px 2px 15px;
  line-height: 22px;
}
.select-size{
  /* display: flex; */
  margin: 10px 0 10px 0;
  justify-content: space-between;

}
.select-size:hover{
  cursor: pointer;
}
.size{
  width: 100%;
  border-radius: unset;
  border: 2px solid #274455;
  text-align: center;
  padding: 4px 0;
  margin-bottom: 10px;

}
.select-group{
  display: flex;
}
.c-select-quantity{
  padding: 2px 2.5%;
  width: 50%;
  border-radius: unset;
  border: 2px solid #274455;
  text-align: center;
  display: flex;
  justify-content: space-between;
  line-height: 2px;
}
.q-add{
  font-size: 1.2rem;
}
input[type="text"]:focus{
  outline: none;
  box-shadow: none;
  border:none;
}
input[type="text"]:focus:hover{
  outline: none;
  box-shadow: none;
  border:none;
  border-radius:0;
}
.quantity{
  width: 20px;
  border: none;
}

.size-icon{
  width: 10px;
  height: 2px;
}
.size-icon2{
  width: 10px;
  height: 10px;
}

.mr-20{
  margin-right: 20px;
}

.cart{
  background: #274455;
  padding: 10px 0;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  margin: 10px 0;
}



/* .pic-color-arrow{
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 82%;
  left: 70%;
}
.pic-color-arrow:hover{
  cursor: pointer;
} 箭頭取消 */
.fa-star{
  color:#DDBB5E;
  padding-right: 7px;
}
.word-section{
  border: 2px solid #274455;
  padding: 8px 5px;
  border-radius: 4px;
  margin: 2px;

}
.word-section:focus{
  border: 1.9px solid rgb(51, 80, 211);
 }


/* mobile collect menu */
.play{
  visibility: hidden;
}
.mobile-background{
  /* height: 67px; */
  width: 375px;
  background-color: #274455;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.mobile-collect{
  width: 130px;
  padding: 4px 0;
  background-color: #ffffff;
  color:  #274455;
  margin-right: 10px;


}
.mobile-cart{
  width: 130px;
  padding: 4px 0;
  background-color: #000000;
  color : #ffffff;
  margin-left: 10px;
}

/* ----------tab section---------- */
.nav{
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 0  10rem!important;
}
.nav-tabs{
  border: none!important;
}
.nav-tabs .nav-link {
  color: #B5B5B5!important;
  border: none!important;
  all: unset;
}
.nav-tabs .nav-link.active{
  color: #000000!important;
}



@media screen and (min-width: 768px) and (max-width: 1024px){
  .wrapper{
    flex-wrap: wrap;
    max-width: 100%;
  }
  /* picture section */
  .pic-pannel{
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;

  }
  .picture-slide-panel {

    margin: -2px 0 0 10px;

    /* border: 1px solid lightblue; */
}
  .carousel-inner{
    width: 391px!important;
  }
  .main-pic{
    width: 391px;
    height: 391px;
    margin: 0;
    position: relative;
  }
  .picture-section{
    margin: 0;
    padding: 0;
    height: 400px;
  }
  .picture-body{
    margin: 4px 0;
    width: 58px;
    height: 58px;
  }
  .group-pic{
    width: 58px;
    height: 58px;
  }
  .picture-demo{
    margin: 0;
    height: 391px;
  }
  .icon-arrow-down {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 83%;
    left: 46%;
    transform: translateX(-50%);
}
  .bread-crumbs{
    display: none;
  }

  /* ---------------------------------- */
  .product-info-panel{
    /* margin-top: 490px; */
  }
  .line{
    width: 375px;
  }
  .desc-section {
    width: 100%;

  }
  .desc-box{
    width: 270px;
    height: auto;
    margin: 0 auto;
  }
  .desc-box2{
    width: 270px;
    height: auto;
    margin: 0 auto;
  }
  .disImg{
    width: 350px;
    height: 514px;
    margin: 20px auto 20px auto;
  }
  .sizeImg{
    width: 350px;
    height: 100px;
    margin-top: 50px;
  }
  .qty-wrap{
    width: 90%;
  }
  .mob-line{
    height: 1px;
    background-color: #111111;
    width: 768px;
    margin-bottom: 50px;
  }

  /* Slide Section */

  .rwd-none{
    display: none;
  }
  .new-button{
    padding: 4px 20px 4px 20px;
  }
  .slideLike{
    padding: 0 28px 0 28px;

  }
  .none{
    display: none;
  }
  .slideImg{
    width: 57px;
    height: 57px;
  }
  .like{
    margin-top: 24px;
    font-size: 8px;
  }
  .arrow{
    margin-top: 19px;
  }
  .mob-line{
   display: none;
  }
  .slide-like{
    padding: 0 30px;
  }
  .like-section{
    margin-top: 24px;
    font-size: 8px;
    width: 35%;

  }
  .arrow{
    margin: 0;
    left: 86%;
  }
  .slide-width {
    width: 326px!important;
    position: relative;
}

/* Color Section */

  .right.product-option {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    border: none;
    padding: 44px 20px 0 20px;
  }
  .product-name{
    position: relative;
    margin: 0;
  }
  .ipad-p{
    display: block;
  }
  .priceTitle{
    display: flex;
  }
  .wh5{
    width: 5px;
    height: 5px;
    font-size: 5px;
  }

  .PicColor{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0 3px 0 3px;
  }
  .color-wrapper{
    display: flex;

  }
  .heart{
    margin: 0;
  }
  .pic-color-arrow{
    position: absolute;
    bottom: 13%;
    left: 108%;

  }
  .select-size select  {
    width: 100%;
  }


  /* mobile collect menu */

  .play{
    visibility: unset;
  }
  .mobile-background{
    width: 768px;
  }
  .mobile-collect{
    width: 250px;
    padding: 5px 0;
    margin-right: 20px;
  }
  .mobile-cart{
    width: 250px;
    padding: 5px 0;
    margin-left: 20px;
  }
  /* ----------tab section---------- */
.nav{
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 0  5rem!important;
}

}


@media screen and (max-width: 576px) {
  .wrapper{
  display: none;

  }
   /* picture section */
  .pic-pannel{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .picture-demo{
    width: 100%;
    margin: 0;
  }
  .wrapper{
    flex-wrap: wrap;
    max-width: 100%;
  }
  .main-pic{
    width: 100vw;
    height: 100vw;
    margin: 0;
  }
  .picture-section{
    margin: 0;
    padding: 0;
  }
  .picture-slide-panel {
    display: none;
  }
  .leave-comment{
    width: 375px;
  }
  .leave-comment input{
    width: 314px;
  }

  .disImg{
    width: 300px;
    height: 444px;
    margin: 20px auto 20px auto;
  }
  .sizeImg{
    width: 350px;
    text-align: center;
  }
  .desc-section{
    width: 365px;
    margin: 0;
  }


/* mobile collect menu */
  .play{
    visibility: unset;
  }
  .mobile-background{
    width: 376px;
  }
  .mobile-collect{
    width: 130px;
    padding: 4px 0;
    margin-right: 10px;
  }
  .mobile-cart{
    width: 130px;
    padding: 4px 0;
    margin-left: 10px;
  }
}













/* ------------------------------ */

* {
  box-sizing: border-box;
}


.slide-box {
  margin: 20px 0 0 -10px;
  display: flex;
}
.slide-box .slider-content{
  width: 14%;
  line-height: 82px;
  font-size: 12px;
}


.slider {
  width: 75%;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* margin: 0 -10px; */
}
.slide1,.slide2,.slide3 {
  display: flex;
  width: 100%;
}
.item {
  flex-grow: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
.item {
    width: 33.5%;
  }
  .slider{
    width: 70.5%;
  }
}
@media screen and (max-width: 500px) {
.item {
    width: 100%;
  }
}

.slide-width{
  width: 544px;
  position: relative;
}
.child {
  text-align: center;

}
.slide-img{
    width: 104px;
    height: 104px;
}

.fsection {
    text-align: center;
    position: relative;
}
.love{
    position: absolute;
    top: 0;
    right: 0;
}
.slide-title{
    font-size: 12px;
    font-weight: 600;
    margin: 12px 0 7px 0;
}
.slide-price{
    font-size: 10px;
    margin: 0 0 7px 0;
}
.tab-prev1,.tab-prev2,.tab-prev3 {
  margin: -53px 5px 0 0;
}
.tab-next1,.tab-next2,.tab-next3{
  margin: -53px 0 0 5px;
}

.owl-prev{
  display: none;
}
.owl-next{
  display: none;
}





