.cover-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button, .clickable {
    display: block;
    all: unset;
    cursor: pointer;
  }
  
  button:focus, label:focus {
    outline:0;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
.wrapper{
 
    margin: 0 auto;
}
.over-flow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productBanner{
    width: 100%;
    height: 450px;
}
.sectionProduct{
    margin: 0 auto;
    max-width: 1280px;
}


/* top block         */
.title{
    margin: 20px 0 20px 0;
    text-align: center;
    color: #8C8079;
    font-weight: 600;
}
.list-wrapper{
    padding: 0 10%;
}
.topBlock{
    background-color: #8C8079;
    border: 1px solid #707070;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px auto;
    width: 1028px;
}
    

.topTitle{
    max-width: 344px;
    line-height: 75px;
    font-size: 25px;
    color: #FFFFFF;
    margin: auto 0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.productPic{
    width: 250px;
    height: 250px;
    margin: auto 30px;
}

.product-section{
    display: flex;
    width: 1044px;
    margin: 0 auto 50px auto;
    flex-wrap: wrap;
}
.product-image:hover{
    cursor: pointer;
}

/* product list 4 version */


.product-list{
    text-align: center;
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0;
    margin-top: 20px;
}
.product-image{
    width: 246px;
    height: 246px;
    margin: 0 auto;
}

.love-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 68%;
    right: 3%;
}
.product-discription{
    padding: 0 30px;
}
.p-title{
    font-size: 18px;
    margin: 2px 0 10px 0;
}
.p-main{
    margin-top: 22px;
    font-size: 11px;
}
.p-detail{
    font-size: 11px;
    margin-bottom: 18px;
}
.p-adjust{
    display: flex;
    justify-content: space-between;
}
.p-price{
    margin: 28px 0 0 0;
    font-size: 17px;
    margin-right: 3px;
    
}
.p-price-discount{
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 3px;
}

/* product list 3 version */

/* .product-list{
    text-align: center;
    position: relative;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0;
    margin-top: 20px;
}
.product-image{
    width: 330px;
    height: 330px;
    margin: 0 auto;
}

.love-btn{
    width: 39px;
    height: 39px;
    position: absolute;
    top: 339px;
    right: 3px;

}
.product-discription{
    padding: 0 45px;
}
.p-title{
    font-size: 24px;
    margin-top: 2px;
}
.p-main{
    margin: 20px 0 0 0;
    font-size: 14px;
}
.p-detail{
    font-size: 14px;
    margin: 10px 0 15px 0;
}
.p-price{
    margin: 28px 0 0 0;
    font-size: 24px;
    margin-right: 8px;
    
}
.p-price-discount{
    text-decoration: line-through;
    font-size: 20px;
    margin-left: 8px;
} */

/* product list 2 version */
/* 
.product-list{
    text-align: center;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
    margin-top: 20px;
 
}
.product-image{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.love-btn{
    width: 59px;
    height: 59px;
    position: absolute;
    top: 505px;
    right: 3px;

}
.product-discription{
    padding: 0 60px;
}
.p-title{
    font-size: 35px;
    margin-top: 4px;
}
.p-main{
    margin: 20px 0 0 0;
    font-size: 20px;
}
.p-detail{
    font-size: 20px;
    margin: 13px 0 20px 0;
}
.p-price{
    margin: 32px 0 0 0;
    font-size: 35px;
    margin-right: 15px;
}
.p-price-discount{
    text-decoration: line-through;
    font-size: 30px;
    margin-left: 15px;
} */

@media screen and (max-width: 576px) {
    .productBanner{
        width: 100%;
        height: 211px;
    }
    .sectionProduct{
    margin: unset;
    width: 100%;
    }


/* top block         */
    .title{
        width: 100%;
        margin-top: 10px;
    }
    .topBlock{
        width: 100%;
        height: 138px;
    }
    .topTitle{
        width: 31%;
        height: 75px;
        font-size: 17px;
        font-weight: 400;
        line-height: 35px;
    }

    .productPic{
        width: 100px;
        height: 100px;
        margin: auto 0;
    }
/* product list */
    .product-section{
        width: 100%;
    }
    .product-list{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-image{
        width: 47vw!important;
        height: 47vw!important;
        margin: 0 auto;
    }
    .love-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 67%;
        right: 4%;
    }
    .p-title{
        font-size: 16px;
    }
    .p-main{
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 5px;
    }
    .p-detail{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .p-price-discount{
        font-size: 10px;
    }
}




/* 平板 */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .sectionProduct{
        margin: 0;
        width: 100%;
    }

    /* top block         */
    .title{
        width: 100%;
    } 
    .topBlock{
        width: 100%;
        height: 205px;
    }
    .productPic{
        width: 168px;
        height: 168px;
    }
    
    
    /* product list */
    .product-section{
        width: 100%;
    }
    .product-list{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-discription{
        padding: 0 40px;
    }
    .product-image{
        width: 349px;
        height: 349px;
        margin: 0 auto;
    }
    .love-btn{
            width: 42px;
            height: 42px;
            position: absolute;
            top: 69%;
            right: 4%;
    }
    .p-title{
        font-size: 26px;
        margin: 0 0;
    }
    .p-main{
        font-size: 16px;
    }
    .p-detail{
        font-size: 16px;
    }
    .p-price{
        font-size: 26px;
    }
    .p-price-discount{
        font-size: 26px;
    }


}
@media screen  and (min-width: 1024px) and (max-width: 1024px){
    .love-btn {
        width: 42px;
        height: 42px;
        position: absolute;
        top: 69%;
        right: 16%;
    }
  
  }
