<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/vendors/normalize.min.css">
    <link rel="stylesheet" href="/static/css/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="/static/css/font.css">
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.min.css"></link>
    <title>Document</title>
    
    <style>
         .bs-image{
       
          
    
     
      
            position: relative;
        }
    .child {
  text-align: center;
 
}
.slide-img{
    width: 104px;
    height: 104px;
}

.footer {
    text-align: center;
    position: relative;
}
.love{
    width: 11px;
    height: 11px;
    position: absolute;
    top: -8px;
    right: 0;
}
.slide-title{
    font-size: 12px;
    font-weight: 600;
    margin: 12px 0 7px 0;
}
.slide-price{
    font-size: 10px;
    margin: 0 0 7px 0;
}

.l-icon,.r-icon{
  width: 15px;
  right: 15px;
}


    </style>
</head>
<body>
 
      <div class="slide-box">
        <button class="tab-prev1 customPrevBtn"><img src="/static/images/prev-arrow.png" alt="" style="width: 30px;"></button> 
        <div class="owl-carousel owl-theme owl-carousel1">
           
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
            <div class="item" style="width: 104px;">
                <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                <div class="footer">
                    <img class="cover-fit" src="/static/images/love-icon.png" alt="" style="width: 11px">
                    <p class="slide-title">個性長版外套</p>
                    <p class="slide-price">NT$780</p>
                </div>
              </div>
          

        </div>
        <button class="tab-next1 customNextBtn"><img src="/static/images/next-arrow.png" alt="" style="width: 30px;"></button> 
     </div>  
     
           <!-- slide section 2-->
      
           <div class="slide-box">
            <p class="slider-content">搭配商品</p>
            <div class="slider">
        
              <div id="slide2" class="slide2" style="transform: translate3d(0px, 0px, 0px); transition: transform 400ms ease 0s">
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
        
               
              </div>
              <div class="buttons">
                <div id="left2"><img class="l-icon" src="/static/images/slide-arrow-l.png" alt=""></div>
                <div id="right2"><img class="r-icon" src="/static/images/slide-arrow-r.png" alt=""></div>
              </div>
            </div>
          </div>
          <!-- slide section 3-->
          
          <div class="slide-box">
            <p class="slider-content">瀏覽紀錄</p>
            <div class="slider">
        
              <div id="slide3" class="slide3" style="transform: translate3d(0px, 0px, 0px); transition: transform 400ms ease 0s">
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
                <div class="item">
                  <div class="child"><img class="slide-img" src="/static/images/small.png" alt=""></div>
                  <div class="fsection">
                      <img class="love" src="/static/images/love-icon.png" alt="">
                      <p class="slide-title">個性長版外套</p>
                      <p class="slide-price">NT$780</p>
                  </div>
                </div>
        
               
              </div>
              <div class="buttons">
                <div id="left3"><img class="l-icon" src="/static/images/slide-arrow-l.png" alt=""></div>
                <div id="right3"><img class="r-icon" src="/static/images/slide-arrow-r.png" alt=""></div>
              </div>
            </div>
          </div>
              
             
            </div>
          </div>
          <!-- swiper -->
          <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
          <script src="/static/js/owl-carousel/owl.carousel.min.js"></script>  
    

<script>
    $('.owl-carousel1').owlCarousel({
    margin:10,
    loop:false,
    autoWidth:true,
    dots: false,
    items:4
    })

    var owl1 = $('.owl-carousel1');
    owl1.owlCarousel();
    $('.tab-next1').click(function() {
        owl1.trigger('next.owl.carousel');
    })
    // Go to the previous item
    $('.tab-prev1').click(function() {
        owl1.trigger('prev.owl.carousel', [600]);
    })
</script>
</body>
</html>