<div id="footer-slot">
    <footer class="footer-panel" role="contentinfo">
        <div class="footer text-white">
            <div class="subscribe-panel">
                <h1 class="subscribe-head">訂閱電子報</h1>
                <input type="mail" placeholder="Enter Your Email Address →"></div>
                <div class="share-bar">
                    <span>FOLLOW US</span>
                    <ul class="social-icon list-unstyled">
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                        <li class="footer-icon">
                            <i class="fa fa-facebook-official"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>