<div id="header-slot">
    <header class="navbar text-white">
        <nav class="nav-top-bar dp-flex">
            <div class="brand">LOGO</div>
            <div class="product-category items-center dp-flex">
                <button class="tab-arrow text-white" id="tab-prev">&lt;</button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">男裝</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">女裝</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">兒童</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">Man's</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">Femal's</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">tt_03</span>
                        </div>
                        <div class="swiper-slide justify-center items-center">
                            <span class="product-tab">tt_04</span>
                        </div>
                    </div>
                </div>
                <button class="tab-arrow text-white" id="tab-next">&gt;</button>
            </div>
            <div class="product-opts-panel">
                <div class="product-opts-pannel dp-flex">
                    <span class="p-y-4 m-2 cursor-pointer">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    <span class="p-y-4 m-2 cursor-pointer">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="p-y-4 m-2 cursor-pointer">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="p-y-4 m-2 cursor-pointer">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="item-amount ml-4">99+</span>
                    </span>
                    <span class="p-y-4 m-2 cursor-pointer">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </nav>
    </header>
</div>