<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/vendors/normalize.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/shopPage.css">
</head>
<body>
    <div class="wrapper">
        <div class="productBanner">   
        <img class="cover-fit" src="/static/images/top.png" alt=""></div>
<!-- product -->
        <div class="sectionProduct">
    <!-- top block -->
            <div class="i50 title">Man's Pick up</div>
           
                <div class="topBlock">
                        <div class="productPic"><img class="cover-fit" src="/static/images/Shop-img.jpg" alt=""></div>
                        <span class="topTitle">COMBINATION MANHATTAN</span>
                        <div class="productPic"><img class="cover-fit" src="/static/images/Shop-img.jpg" alt=""></div>
                    
                </div>
                <!-- product list -->
                <div class="product-section">
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>
                    <div class="product-list">
                        <a href="/partial/manCart.html">
                            <div class="product-image">
                            <img class="cover-fit" src="/static/images/Shop-img.jpg" alt="">
                            </div></a>
                        <button class="btn"><img class="love-btn" src="/static/images/love-icon.png" alt=""></button>
                        <div class="product-discription">
                            <p class="p-title">個性長版外套</p>
                            <p class="p-main over-flow">2020新款</p>
                            <p class="p-detail over-flow">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                            <span class="p-price">NT$780</span>
                            <span class="p-price-discount">NT$780</span>
                        </div>
                    </div>

       
                  
                      

                </div>
         
      
                <!-- product list end-->

               

            
           
          
        </div>
    </div>

    
</body>
</html>