<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/static/css/vendors/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
     <!-- swiper -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css"></link>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.min.css"></link>
</head>
<style>
   
</style>
<body>
    <div id="header-slot">
        <header class="navbar text-white">
            <nav class="nav-top-bar dp-flex">
                <div class="brand">LOGO</div>
                <div class="product-category items-center dp-flex">
                    <button class="tab-arrow text-white customPrevBtn" id="tab-prev">&lt;</button>
                    <div class="swiper-container">
                        <div class="height-adjust">
                         <div class="owl-carousel owl-theme">
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">男裝vcvxcv</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">女裝 xcvxcv</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">兒童 xcvcxcv</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">Man's</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">Female's</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">tt_03</a>
                                </span>
                            </div>
                            <div class="swiper-slide justify-center items-center">
                                <span class="product-tab">
                                    <a class="a-header" href="#">tt_04</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                    <button class="tab-arrow text-white customNextBtn" id="tab-next">&gt;</button>
                </div>
                <div class="product-opts-panel">
                    <div class="product-opts-pannel dp-flex">
                        <span class="p-y-4 m-2 cursor-pointer">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span class="p-y-4 m-2 cursor-pointer">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="p-y-4 m-2 cursor-pointer">
                            <i class="fa fa-search"></i>
                        </span>
                        <span class="p-y-4 m-2 cursor-pointer">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="item-amount ml-4 cart-toggle">99+</span>
                        </span>
                        <span class="p-y-4 m-2 cursor-pointer">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <!-- header end -->
    <!-- show cart -->
    <div class="cart-bar">
        <div class="cart-header">
            <div class="i30 title">購物車</div>
            <button class="close-btn"><img src="/static/images/cart-back-arrow.png" alt=""></button>
        </div>
        <div class="product-contianer">
       <!-- product1 -->
        <div class="product-section">
            <img class="p-image" src="/static/images/order-image1.png" alt="">
            <div class="product-dis">
                    <span class="i20 p-title">個性長版外套</span>
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">黑色</option>
                    </select>
           
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">M</option>
                    </select>
                 
                <!-- ----- -->
                <div class="select-quantity">
                    <div class="size-icon"><img class="cover-fit" src="/static/images/minus.png" alt=""></div> 1 
                    <div class="size-icon2"><img class="cover-fit" src="/static/images/plus.png" alt=""></div>
                  </div>
                 <!-- ----- -->
                 <div class="order-price">
                     <span class="i18 price-p">NT$780</span>
                 </div>               
            </div>
        </div>

        <!-- product2 -->
        <div class="product-section">
            <img class="p-image" src="/static/images/order-image2.png" alt="">
            <div class="product-dis">
                    <span class="i20 p-title">個性長版外套</span>
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">黑色</option>
                    </select>
           
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">M</option>
                    </select>
                 
                <!-- ----- -->
                <div class="select-quantity">
                    <div class="size-icon"><img class="cover-fit" src="/static/images/minus.png" alt=""></div> 1 
                    <div class="size-icon2"><img class="cover-fit" src="/static/images/plus.png" alt=""></div>
                  </div>
                 <!-- ----- -->
                 <div class="order-price">
                     <span class="i18 price-p">NT$780</span>
                 </div>               
            </div>
        </div>

        <!-- product3 -->
        <div class="product-section">
            <img class="p-image" src="/static/images/order-image3.png" alt="">
            <div class="product-dis">
                    <span class="i20 p-title">個性長版外套</span>
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">黑色</option>
                    </select>
           
                    <select class="order-select" name="" id="">
                        <option class="i12" value="1">M</option>
                    </select>
                 
                <!-- ----- -->
                <div class="select-quantity">
                    <div class="size-icon"><img class="cover-fit" src="/static/images/minus.png" alt=""></div> 1 
                    <div class="size-icon2"><img class="cover-fit" src="/static/images/plus.png" alt=""></div>
                  </div>
                 <!-- ----- -->
                 <div class="order-price">
                     <span class="i18 price-p">NT$780</span>
                 </div>               
            </div>
        </div>

    </div>

    <div class="i18 total-price">
        小計：NT$2340
    </div>
     <a class="i22 cart-check" href="">前往結帳</a>
       
</div>

<!-- show cart end -->

    <script src="/static/js/show-cart.js"></script>

     <!-- swiper -->
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/owl.carousel.min.js"></script> 
     <script src="/static/js/nav-swiper.js"></script>
 

</body>
</html> 