<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineShop-cart</title>
    <link rel="stylesheet" href="/static/css/vendors/normalize.min.css">
    <link rel="stylesheet" href="/static/css/cart/order.css">
    <link rel="stylesheet" href="/static/css/font.css">
</head>
<body>
   
<!-- bread crumb -->
<div class="bread-container">
    <div class="step">
        <div class="bread-icon icon-checked">
            <img class="bread-img" src="/static/images/cart/confirm-icon1.png" alt="">
        </div> 
        <div class="s14 bread-title">確認購買清單</div>
    </div>
    <div class="progress-bar pb1"></div>

    <div class="step">
        <div class="bread-icon icon-checked">
            <img class="bread-img" src="/static/images/cart/recipient-icon1.png" alt="">
        </div> 
        <div class="s14 bread-title">填寫收件人資訊</div>
    </div>
    <div class="progress-bar pb2"></div>

    <div class="step p-step">
        <div class="bread-icon icon-checked">
            <img class="bread-img" src="/static/images/cart/payment-icon1.png" alt="">
        </div> 
        <div class="s14 bread-title">付款方式</div>
    </div>
    <div class="progress-bar pb3"></div>

    <div class="step p-step">
        <div class="bread-icon icon-checked">
            <img class="bread-img" src="/static/images/cart/receipt-icon1.png" alt="">
        </div> 
        <div class="s14 bread-title">訂單資訊</div>
    </div>
    <div class="progress-bar pb4"></div>

    <div class="step p-step">
        <div class="bread-icon icon-checked">
            <img class="bread-img" src="/static/images/cart/order-icon1.png" alt="">
        </div> 
        <div class="s14 bread-title ">完成訂單</div>
    </div>
</div>
<!--  detail -->
            <span class="s20 order-title">完成訂單</span>
        <div class="order-container">
            <img class="complict-icon" src="/static/images/cart/complict-order-icon.png" alt="">
            <div class="order-section">
                <div class="user-information">
                <span class="s16 user-title">訂單編號</span>
                <span class="s16 user-detail yellow-color">234582125</span>
                </div>
                <div class="user-information">
                <span class="s16 user-title">訂單成立時間</span>
                <span class="s16 user-detail">2020/02/24</span>
                </div>
                <div class="user-information">
                <span class="s16 user-title">付款方式</span>
                <span class="s16 user-detail">信用卡</span>
                </div>
               
                <div class="user-information">
                <span class="s16 user-title">收件人姓名</span>
                <span class="s16 user-detail">李財金</span>
                </div>
                <div class="user-information">
                <span class="s16 user-title">電話</span>
                <span class="s16 user-detail">(+886) 986123112</span>
                </div>
                <div class="user-information">
                <span class="s16 user-title">地址</span>
                <span class="s16 user-detail">新北市三重區三重街168號</span>
                </div>
                <div class="user-information">
                <span class="s16 user-title">應付金額</span>
                <span class="s16 user-detail">NT$2,010</span>
                </div>
            </div>
            

            <div class="step-section">           
            <button class="s19 confirm-btn"><a href="/index.html">前往付款</a></button>
            
        </div> 
    </div>
        
  

 
</body>
</html> 