*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    color: #ffffff;
    border-bottom: unset;
    text-decoration: none;
  }


img {
    vertical-align: middle;
  }
  
  button, .clickable {
    display: block;
    all: unset;
    cursor: pointer;
  }
  
  button:focus, label:focus {
    outline:0;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

input[type="text"]:focus{
    outline: none;
    box-shadow: none;
    border:none;
    border-bottom: 1px solid #8C8079;
}
input[type="text"]:focus:hover{
    outline: none;
    box-shadow: none;
    border:none;
    border-radius:0;
    border-bottom: 1px solid #8C8079;
}
input{
    outline: 0;
    border: 0;
    background: 0;
}

select {
   
    /* appearance: none; */
    border-radius: unset;
    background-color: transparent;
    border: 1px solid #707070;
    margin: 0;
    cursor: pointer;
    line-height: inherit;
  }
:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }




.brown-color{
    color: #8C8079;
}
/* bread crumb */
.bread-container{
    margin: 186px 26% 70px 26%;
    display: flex;
    justify-content: space-between;
}
.step{
    text-align: center;
    justify-content: center; 
    width: 13%;
}
.bread-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    position: relative;
}
.icon-checked{
    background-color: #DDBB5E;
    border: 1px solid #707070;
}
.icon-unchecked{
    background-color: #ffffff;
    border: 1px solid #707070;
}
.bread-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#DDBB5E;   
}
.bread-title{
    margin-top: 1rem;
}
.progress-bar{
    background-color: #DDBB5E;
    width: 10%;
    height: 3px;
    margin-top: 2.5%;
}
.no-progress{
    background-color: transparent;
}

/* add store section */
.order-container{
    margin: 90px auto;
    width: 35%;
    border: 1px solid #707070;
    padding: 2rem 2rem;
}
.location-title{
    margin: 0 auto;
    text-align: center;
}
.block{
    display: block;
}
.add-title{
    margin-top: -4%;
}
.store-box{
    display: flex;
    width: 89%;
    margin: 5rem auto 2rem auto;
    justify-content: space-between;
    position: relative;   
}
.store-input{
    border: unset;
    border-bottom: 1px solid #8C8079;
    width: 70%;  
}
.phone-input{
    position: absolute;
    bottom: 50%;
    left: 30%;
}

.choose-btn{
    padding: 1rem 2.5rem;
    background-color: #DDBB5E;
    color: #ffffff;
    margin: 0.5rem auto 0 auto;
    display: block;
}
.detail{
    color: #024564;
    text-align: center;
    margin: 2rem;
}
.confirm-btn{
    padding: 1rem 4rem;
    background-color: #7CD1F9;
    color: #ffffff;
    margin: 8rem auto 1rem auto;
    display: block;
    border-radius: 3px;
}

/* ipad  */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .bread-container{
        margin: 100px 10% 70px 10%;
        display: flex;
        justify-content: space-between;
    }
    .order-container {
        margin: 0 auto;
        width: 80%;
    }
}
/* 手機版 */
@media screen and (max-width: 576px) {
    .rwd-display{
        display: unset;
    }
    /* bread crumb */
  
    .bread-container{
        margin: 25px 0;
        justify-content: space-around;
        position: relative;
    } 
    
    .bread-icon {
        width: 35px;
        height: 35px;
    }
    .bread-img{
        width: 6vw;
    }
    .bread-title {
        font-size: 10px;
        color: #707070;
    }
    .step{
        width: unset;
        position: relative;
  
    }
    .progress-bar{
        height: 1px;
    }
   .pb1{
       position: absolute;
       top: 7px;
       left: 65px;
       width: 8%;
   }
   .pb2{
       position: absolute;
       top: 7px;
       left: 150px;
        width: 8%;
   }
   .pb3{
       position: absolute;
       top: 7px;
       left: 226px;
       width: 7%;
   }
   .pb4{
       position: absolute;
       top: 7px;
       left: 293px;
       width: 7%;
   }
    .p-step{
        width: 15.5%;
        padding: 0 2px 0 0;
  
    }
  
  /* order container */
  
    .order-container{
          width: auto;
          margin: 3rem auto 5rem auto;
          border: 0.5px solid #707070;
          padding: 1rem 15px;
    }
    .store-box {
        margin: 3.2rem auto 2rem auto;
   
    }
    select{
        font-size: 50%;
    }
    .choose-btn {
        padding: 5px 15px;
        margin: 3.5rem auto 0 auto;
    }
    .confirm-btn {
        padding: 5px 30px;
       margin: 5.5rem auto 4rem auto;
    }
    
      
    }