


.i12{
    font-size: 12px;
}
.i15{
    font-size: 15px;
}
.i18{
    font-size: 18px;
    color: #000000;
}
.i20{
    font-size: 20px;
}
.ic20{
    font-size: 20px;
}
.i22{
    font-size: 22px;
}
.i26{
    font-size: 26px;
}


.s10{
    font-size: 10px;
}
.s12{
    font-size: 12px;
}
.s14{
    font-size: 14px;
}
.s15{
    font-size: 15px;
}
.s16{
    font-size: 16px;
}
.s18{
    font-size: 18px;
}
.s19{
    font-size: 19px;
}
.s20{
    font-size: 20px;
}
.sr20{
    font-size: 20px;
}
.sp20{
    font-size: 20px;
}
.spd20{
    font-size: 20px;
}
.s22{
    font-size: 22px;
}
.sa22{
    font-size: 22px;
}

@media screen and (max-width: 576px) {
    .i9{
        font-size: 9px;
    }
    .i10{
        font-size: 10px;
    }
    .i12{
        font-size: 8px;
    }
    .i18{
        font-size: 14px;
    }
    .i20{
        font-size: 8px;
    }
    .ic20{
        font-size: 16px;
    }
    .s12{
        font-size: 8px;
    }
    .s14{
        font-size: 10px;
    }
    .s15{
        font-size: 10px;
    }
    .s16{
        font-size: 14px;
    }
    .s19{
        font-size: 12px;
    }
    .s20{
        font-size: 14px;
    }
    .s18{
        font-size: 12px;
    }
    .sr20{
        font-size: 12px;
    }
    .sp20{
        font-size: 18px;
    }
    .spd20{
        font-size: 18px;
    }
    .sa22{
        font-size: 16px;
    }
    
  }