:root {
    --primary-color:  #274455;
    --white: #f8f9fa;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Hide scrollbar
     ========================================================================== */
  
  /**
   * 1. make scrollbar transparent.
   *
   */
  
  html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
  }
  
  body::-webkit-scrollbar {
      display: none;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* 1 */
  }
  
  html, body {
    font-family: "Microsoft JhengHei", sans-serif;
  }
  
  img {
    vertical-align: middle;
  }
  
  button, .clickable {
    display: block;
    all: unset;
    cursor: pointer;
  }
  
  button:focus, label:focus {
    outline:0;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  /* global utility */
  .cf::before,
  .cf::after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  .cf::after {
    clear: both;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .tab-arrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }
  
  .text-white {
    color: var(--white);
  }
  
  .half-size {
    transform: scale(.5);
  }
  
  .hidden {
    display: none;
  }
  .justify-center {
    justify-content: center;
  }
  
  .dp-flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  
  .w-full {
    width: 100%;
  }
  .cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 576px) {
    .w-full {
      width: 376px;
    }
    .product-img{
      width: 376px;
      height: 467px;
    }
    .product-news{
      flex-wrap: wrap;
      width: 100% ;
      margin-top: 0;
    }
  }
  /* swiper css */
  .swiper-container {
    max-width: 400px;
    margin: 0 2rem;
    height: 38px;
  }
  
  .swiper-slide {
    display: flex;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .125rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .btn-outline-basic {
    color: var(--primary-color);
    background-color: transparent;
    border: 4px solid;
  }
  .height-adjust{
    display: block;
    margin-top: 2.5%;
  }
  @media screen and (min-width: 1416px) {
    .height-adjust{
      display: block;
      margin-top: 2.5%;
    }
  }
  @media screen and (min-width: 1590px) {
    .height-adjust{
      display: block;
      margin-top: 5.5%;
    }
  }
  @media screen and (min-width: 1692px) {
    .height-adjust{
      display: block;
      margin-top: 2.5%;
    }
  }
  @media screen and (min-width: 1705px) {
    .height-adjust{
      display: block;
      margin-top: 3%;
    }
  }
  @media screen and (min-width: 1920px) {
    .height-adjust{
      display: block;
      margin-top: 3%;
    }
  }
  
  /* custom layout  */
  .navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    z-index: 1;
  }
  
  .product-tab {
    display: inline-block;
  }
  
  .nav-top-bar {
    justify-content: space-between;
  }
  
  .brand {
    height: 70px;
    width: 210px;
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 4rem;
    text-align: center;
  }
  
  .product-opts-pannel {
    height: 100%;
    align-items: center;
  }
  .a-header{
    color: #fff;
    text-decoration: none;
  }
  
  /* main content */
  .container {
    padding-top: 86px;
  }
  
  .product-news {
    width: 80%;
    margin: 2rem auto;
  }
  
  .product-img {
    flex:2 0 50%;
  }
  
  .product-body {
    flex:1 0 50%;
    text-align: center;
    margin: 2rem;
  }
  
  .product-desc {
    max-width: 300px;
    max-height: 50px;
    margin: 1rem auto;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  /* product category panel */
  .product-head {
    font-size: 1.5rem;
  }
  
  .product-sub-head {
    color: var(--primary-color);
    font-size: 1.25rem;
  }
  
  .product-list {
    padding-left: 1rem;
    font-weight: 100;
    font-size: .75rem;
  }
  
  /* base - 0.125  */
  .m-y-5 {
    margin: .625rem auto;
  }
  
  .p-y-4 {
    padding: 0 .5rem;
  }
  .m-2 {
    margin: .25rem;
  }
  .ml-4 {
    margin-left: .5rem;
  }
  .collapse-regular {
    opacity: 1;
    transition: opacity 0.5s;
}
.collapse-hide {
    opacity: 0;
    transition: opacity 1s;
}

@media screen and (max-width: 576px) {
  
  /* nav bar */
  .brand {
    display: none;
  }
  .product-opts-pannel {
    display: none;
}
.nav-top-bar {
  justify-content: center;
}
.swiper-container {
  max-width: 150px;
  margin: 10px 2rem 0 2rem;
}

}
